<% provide(:title, "New Electronic") %>
<% provide(:button_text, "Add Electronic") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add new electronic</h1>

    <%= render 'form' %>
  </div>
</div>
