<% provide(:title, @electronic.name) %>
<!-- Show individual people -->

<div class="center">
  <h2>
    <%= @electronic.name %>
  </h2>
  <br>
  <h2>Description</h2>
  <p>
    <%= @electronic.desc %>
  </p>

  <%= link_to 'Back', electronics_path %>
</div>
