<% provide(:title, @electronic.name) %>
<!-- Show individual people -->

<div class="center">
  <h1>
    <%= @electronic.name %>
  </h1>
  <% if @electronic.featured? %>
    <h2 id="featured">Featured item!</h2>
  <% end %>
  <h2>Description</h2>
  <p>
    <%= @electronic.desc %>
  </p>

  <%= link_to 'Back', electronics_path %>
</div>
